@{
    ViewBag.Title = "Home Page";
    <body>
        <div class="jumbotron">
            <h1 class="display-3">Bienvenido a Sistemas de Compras</h1>
            <p class="lead">Aqui podras gestionar tus articulos, agregar inventario, editar, eliminar y llevar una nomina de tus empleados y proveedores.</p>
            <hr class="my-4">
            <p>Si estas interesado en este servicio para tu empresa contactanos:</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">CONTACTANOS</a>
            </p>
        </div>
    </body>
}
